In [2]:
import pandas as pd

In [9]:
data = pd.read_csv('../docs/ejemplo_datos.csv') #cargar el archivo

In [14]:
data.head(2)

  Nombre  Edad     Ciudad
0    Ana    23     Madrid
1   Luis    34  Barcelona

In [15]:
data.shape

(5, 3)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  5 non-null      object
 1   Edad    5 non-null      int64
 2   Ciudad  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

In [18]:
data.describe()

            Edad
count   5.000000
mean   32.400000
std     8.203658
min    23.000000
25%    28.000000
50%    32.000000
75%    34.000000
max    45.000000

In [21]:
data.to_csv('../docs/nuevos_datos2.xlsx') #Guardart el archivo